:root{
    --layout_max_width:1200px
}

/* Layouts */

*{
margin: 0;
padding: 0;
box-sizing: border-box;
}




#layout_header_css_class{
    display: flex;
    background-color: #ffffff;
    align-items: center;
    width: 100%;
}

#layout_content_css_class{
    max-width: var(--layout_max_width);
    padding: 0 28px;
    flex: 1;
    margin: auto;
    max-height: 100vh;
    overflow: auto;
    width:100%
}



/* Responsive Helpers */
.flex-responsive {
    display: flex;
}


.gap-20 {
    gap: 20px;
}

.flex-center{
    justify-content: center;
    align-items: center;
}



@media screen and (max-width:576px) {
    .flex-responsive {
        flex-direction: column;
    }

    #layout_content_css_class{
        padding: 0 5px;
        width: 95vw;
        margin: auto;
    }
 
}


